@import './solid';


$sidebar-logo-height: 80px;


html,
body,
.wrapper {
  background-color: $fill-gray;
  height: 100vh;
  width: 100vw;
}


// font
.lato {
  font-family: 'Lato', sans-serif;
}

// modal overwrite for positioning
.modal {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 80px);
  top: 80px;
  @media screen and (max-width: 832px) {
      height: calc(100vh - 60px);
      top: 60px;
  }
  @media screen and (max-width: 600px) {
      height: calc(100vh - 40px);
      top: 40px;
  }
}

// logo
#logo {
  background-image: url('/assets/img/idp-logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  height: $sidebar-logo-height;
  @media screen and (max-width: 832px) {
    height: 60px;
  }
  @media screen and (max-width: 600px) {
    height: 40px;
  }
}


// Mask

.content, .mask {
    height: calc(100vh - 80px);
  @media screen and (max-width: 832px) {
    height: calc(100vh - 60px);
  }
  @media screen and (max-width: 600px) {
    height: calc(100vh - 40px);
  }
}

.mask {
    width: 100vw;
    bottom: 0;
    left: 0;
    position: absolute;
}

/********************************/
/*
/* Loader Element and Container */
/*
*********************************/

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}
.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before,
.loader:after {
    position: absolute;
    content: '';
}
.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #aaaaaa;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #aaaaaa;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
