@import './solid.1.4.2.css';


#container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

#header {
    #header-logo {
        height: 80px;
        background-image: url('/img/logo.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
